.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  height: 40px;
  width: 100%;
  background: #673AB7;
  color: rgba(255,255,255, 0.9);
  font-size: 24px;
  padding-top: 10px;
  text-align: center;

}

.content {
  width: 800px;
  flex: 1;
}

.container {
  padding-top: 10px;
}

.transFactor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transFactorSelect {
  width: 100%;
  height: 38px;
  border-radius: 4px;
  position: relative;
  border: 1px solid #ced4da;
  font-size: 16px;
  color: hsl(0,0%,30%);
  background-color: white;
  padding: 10px 26px 10px 12px;
  margin-bottom: 10px;
  appearance: none; 
}

.transFactorOption {
  font-size: 16px;
  margin: 5px;
}

.DNAText {
  box-sizing:border-box;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #ced4da;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 600px;
  } 
}
